:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-chakra-petch), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
  .text-glow {
    text-shadow: 0 0 25px rgba(189,140,255,0.3);
  }
}

.slide-up {
  transform: translateY(-100%);
}

/* Optional: Add this if you want to make specific elements selectable */
.selectable {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
